{% if traefik_debug %}
debug = true
{% endif %}

logLevel = "{{ traefik_log_level | upper }}"
defaultEntryPoints = ["https","http"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"

  [entryPoints.https]
  address = ":443"
  compress = true
  [entryPoints.https.tls]

[ping]
entryPoint = "https"

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "kukrilabs.com"
watch = true
exposedByDefault = false

[acme]
email = "{{ traefik_acme_email }}"
storage = "acme.json"
entryPoint = "https"
onHostRule = true

[acme.httpChallenge]
entryPoint = "http"
